In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('150days.csv')

In [20]:
df.groupby("household_key").filter(lambda x: len(x) > 5)

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
350718,1272,28931886027,149,6525354,1,3.49,1365,0.00,1509,22,0.0,0.0
350719,1272,28931886027,149,6588340,1,2.99,1365,-0.60,1509,22,0.0,0.0
350720,1272,28931886027,149,8148613,1,3.09,1365,-0.10,1509,22,0.0,0.0
350721,1272,28931886027,149,8236004,1,2.29,1365,0.00,1509,22,0.0,0.0
350722,1272,28931886027,149,9874525,2,2.50,1365,-0.48,1509,22,0.0,0.0

In [21]:
df.to_csv('150_days_5min.csv')